@use "leptos-bulma.css";
@import url("https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/github-dark-dimmed.min.css");

main.container {
    min-height: calc(100vh - 275px);
}

pre {
    padding: 0;
    overflow-y: auto;
    max-height: 250px;
}

.navbar-brand img {
    max-height: unset;
}

.footer {
    padding: 3rem 1.5rem;
}

.pagination a.is-disabled {
    pointer-events: none;
    cursor: default;
}
