@use "leptos-bulma.scss";

@import url("https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/github-dark-dimmed.min.css");

main.container {
    min-height: calc(100vh - 280px);
}

pre {
    padding: 0;
    overflow-y: auto;
    max-height: 250px;
}

.navbar-brand img {
    max-height: unset;
}

.footer {
    padding: 3rem 1.5rem;
}

.loading-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    transition:
        visibility 0s 0.3s,
        background-color 0.3s;

    &.is-done {
        background-color: #0000;
        opacity: 1;
        visibility: hidden;
    }
}
